<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.8.0" targetFramework="net462" />
  <package id="FakeItEasy" version="5.1.0" targetFramework="net462" />
  <package id="Fare" version="2.1.2" targetFramework="net462" />
  <package id="FluentAssertions" version="4.19.0" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net462" />
  <package id="Naos.Build.Analyzers" version="1.55.0" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Compression.Domain" version="1.0.15" targetFramework="net462" />
  <package id="Naos.Recipes.InitializeTestProject" version="1.0.115" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Serialization.Bson" version="1.0.119" targetFramework="net462" />
  <package id="Naos.Serialization.Domain" version="1.0.119" targetFramework="net462" />
  <package id="Naos.Serialization.Json" version="1.0.119" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="OBeautifulCode.AutoFakeItEasy" version="1.0.113" targetFramework="net462" />
  <package id="OBeautifulCode.Type" version="1.0.4" targetFramework="net462" />
  <package id="StyleCop.Analyzers.Unstable" version="1.1.0.47" targetFramework="net462" developmentDependency="true" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
</packages>