<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naos.Build.Analyzers" version="1.55.17" targetFramework="net462" developmentDependency="true" />
  <package id="Naos.Recipes.RunWithRetry" version="1.0.122" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Assertion.Recipes.Must" version="1.0.10" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Collection.Recipes.EnumerableExtensions" version="1.0.30" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Equality.Recipes.EqualityHelpers" version="1.0.15" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Math.Recipes.HashCodeHelper" version="1.0.70" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Reflection.Recipes.AssemblyHelper" version="1.0.62" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.String.Recipes.StringExtensions" version="1.0.37" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Type.Recipes.TypeExtensions" version="1.0.28" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Validation.Recipes.ParameterValidator" version="1.0.25" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>