<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net462" />
  <package id="Naos.Build.Analyzers" version="1.55.17" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Compression" version="1.0.8" targetFramework="net462" />
  <package id="OBeautifulCode.Representation.System" version="1.0.37" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization" version="1.0.13" targetFramework="net462" />
  <package id="OBeautifulCode.Serialization.Bson" version="1.0.13" targetFramework="net462" />
  <package id="OBeautifulCode.Type" version="1.0.33" targetFramework="net462" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net462" developmentDependency="true" />
</packages>